# Copyright (c) Philip Heiduck
# Founder and Owner of airconnect_installer, airconnect_uninstaller and docker-backup{.service,.timer}
# (c) Philippe, philippe_44@outlook.com
# Founder and Owner of AirConnect
* @pheiduck
