[Unit]
Description=Certificate renewer for %I
After=network-online.target
Documentation=https://smallstep.com/docs/step-ca/certificate-authority-server-production
StartLimitIntervalSec=0

[Service]
Type=oneshot
User=root

ExecCondition=/usr/bin/step certificate needs-renewal /etc/ssl/certs/pihole.crt

ExecStart=/usr/bin/step ca renew --force /etc/ssl/certs/pihole.crt /etc/ssl/private/pihole.key

ExecStartPost=/usr/bin/env sh -c "! systemctl --quiet is-enabled %i.service || systemctl try-reload-or-restart %i"

[Install]
WantedBy=multi-user.target
